* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
body{
  /* background-color: gray; */
}

.login {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.container {
  /*The css grid is chosen for the home page layout*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px auto 100px;
  grid-template-areas: 
    'header header header header header'
    'menu content content content content'
    'footer footer footer footer footer'; 
  gap: 10px;  
  background-color: gray;
}

.header {
  background-color: #F0F8FF;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.header > div {
  border: 1px solid black;
  align-content: center;
}

.header-main {
  /*The flexbox css is chosen to fit elements within header*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;

}

.searchBar {
  width: 600px;
  padding: 1em;
}

.menu {
  background-color: yellow;
  grid-area: menu;
}
.content {
  background-color: #E4E0E0 ;
  grid-area: content;
  /* margin: 1em; */
}

.content_movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
}

.container_detail_movie {
  /* display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: center; */
  display: flex;
  flex-wrap: wrap;

}

.synapses{
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  border: 1px solid black;
  width: 700px;
  padding-right: 10px;
  padding-left: 20px;
  justify-content: center;
  /* margin: 3em; */
}

.synapses > h1 {
  font-size: 3.2rem;
  color: cornflowerblue;
}

.card {
  padding: 1em;
}

.title_movie {
  white-space: nowrap;
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  background-color: purple;
  grid-area: footer;
}



